<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.easyads.component.mapper.SdkChannelMapper">
    <!-- SDK渠道信息 -->
    <resultMap id = "sdkChannelMap" type = "com.easyads.management.distribution.sdk.model.SdkChannel">
        <id property = "id" column = "id"/>
        <result property = "adnId" column = "adn_id" />
        <result property = "reportChannelId" column = "report_channel_id" />
        <result property = "channelName" column = "channel_name" />
        <result property = "channelAlias" column = "channel_alias" />
        <result property = "bidPrice" column = "bid_price" />
        <result property = "isHeadBidding" column = "is_head_bidding" />
        <result property = "bidRatio" column = "bid_ratio" />
        <result property = "timeout" column = "time_out" />
        <result property = "params" column="supplier_params" typeHandler="com.easyads.component.mybatis.JsonTypeHandler" />
        <result property = "adnParamsMeta" column = "params_meta" typeHandler = "com.easyads.component.mybatis.JsonArrayTypeHandler" />
        <result property = "cpmUpdateTime" column = "cpm_update_time" />
        <result property = "isAutoCreate" column = "is_auto_create" />
        <result property = "supplierAdspotConfig" column = "supplier_adspot_config" />

        <association property = "requestLimit" javaType = "com.easyads.management.distribution.sdk.model.SdkRequestLimit">
            <result property = "dailyReqLimit" column = "daily_req_limit" />
            <result property = "dailyImpLimit" column = "daily_imp_limit" />
            <result property = "deviceDailyReqLimit" column = "device_daily_req_limit" />
            <result property = "deviceDailyImpLimit" column = "device_daily_imp_limit" />
            <result property = "deviceRequestInterval" column = "device_request_interval" />
        </association>

        <association property = "directionOrigin" javaType = "com.easyads.management.distribution.sdk.model.SdkDirectionOrigin">
            <result property = "locationList" column = "location_list" />
            <result property = "makeList" column = "make_list" />
            <result property = "osvList" column = "osv_list" />
            <result property = "appVersion" column = "app_versions" />
        </association>

        <association property = "reportApiParam" javaType = "com.easyads.management.adn.model.bean.SdkAdnReportApi">
            <result property = "id" column = "report_api_id" />
            <result property = "name" column = "report_api_account_name" />
            <result property = "params" column = "report_api_params" />
            <result property = "status" column = "report_api_params_status" />
            <result property = "autoCreateStatus" column = "report_api_auto_create_status" />
        </association>
    </resultMap>

    <select id = "getAdspotSdkChannelList" resultMap = "sdkChannelMap">
        SELECT
            A.id,
            A.adn_id,
            B.id AS report_channel_id,
            IF(COALESCE(A.name, "") = "", B.adn_name, A.name) AS channel_name,
            A.name AS channel_alias,
            A.supplier_params,
            A.bid_price,
            A.time_out,
            A.is_head_bidding,
            A.bid_ratio,
            A.daily_req_limit,
            A.daily_imp_limit,
            A.device_daily_req_limit,
            A.device_daily_imp_limit,
            A.device_request_interval,
            A.cpm_update_time,
            A.is_auto_create,
            A.supplier_adspot_config,
            COALESCE(A.location_list, "") AS location_list,
            COALESCE(A.make_list, "") AS make_list,
            COALESCE(A.osv_list, "") AS osv_list,
            COALESCE(A.app_versions, "") AS app_versions,
            B.params_meta,
            C.id AS report_api_id,
            COALESCE(C.account_name, A.name) AS report_api_account_name,
            C.params AS report_api_params,
            C.status AS report_api_params_status,
            C.auto_create_status AS report_api_auto_create_status
        FROM
        (
            SELECT *
            FROM adspot_sdk_channel
            WHERE adspot_id = #{adspotId}
            AND mark_delete = 0
        ) A
        INNER JOIN
        (
            SELECT *
            FROM sdk_adn
            WHERE status = 1 AND mark_delete = 0
        ) B ON A.adn_id = B.id
        LEFT OUTER JOIN
        (
            SELECT *
            FROM sdk_report_api_params
            WHERE mark_deleted = 0
        ) C ON A.report_api_id = C.id
    </select>

    <select id = "getAdspotSdkSimpleChannelMap" resultType = "com.easyads.management.distribution.traffic.model.SdkChannelSimple">
        SELECT
            id,
            is_head_bidding AS isHeadBidding
        FROM adspot_sdk_channel
        WHERE
            adspot_id = #{adspotId}
            AND mark_delete = 0
    </select>

    <select id = "getAdspotSdkChannelUsingStatus" resultType = "java.lang.String">
        SELECT CONCAT(B.tag, "_", C.name) AS group_name
        FROM sdk_group A
        JOIN sdk_group_percentage B ON A.sdk_group_percentage_id = B.id
        JOIN sdk_group_targeting C ON A.sdk_group_targeting_id = C.id
        WHERE A.adspot_id = #{adspotId} AND A.supplier_ids rlike #{sdkChannelId}
    </select>

    <select id = "getOneAdspotSdkChannel" resultMap = "sdkChannelMap">
        SELECT
            A.id,
            A.adn_id,
            B.id AS report_channel_id,
            IF(COALESCE(A.name, "") = "", B.adn_name, A.name) AS channel_name,
            A.name AS channel_alias,
            A.supplier_params,
            A.bid_price,
            A.time_out,
            A.is_head_bidding,
            A.bid_ratio,
            A.daily_req_limit,
            A.daily_imp_limit,
            A.device_daily_req_limit,
            A.device_daily_imp_limit,
            A.device_request_interval,
            A.cpm_update_time,
            A.is_auto_create,
            A.supplier_adspot_config,
            COALESCE(A.location_list, "") AS location_list,
            COALESCE(A.make_list, "") AS make_list,
            COALESCE(A.osv_list, "") AS osv_list,
            COALESCE(A.app_versions, "") AS app_versions,
            B.params_meta,
            C.id AS report_api_id,
            COALESCE(C.account_name, A.name) AS report_api_account_name,
            C.params AS report_api_params,
            C.status AS report_api_params_status,
            C.auto_create_status AS report_api_auto_create_status
        FROM
        (
            SELECT *
            FROM adspot_sdk_channel
            WHERE
                adspot_id = #{adspotId} AND id = #{sdkChannelId}
                AND mark_delete = 0
        ) A
        INNER JOIN
        (
            SELECT *
            FROM sdk_adn
            WHERE status = 1 AND mark_delete = 0
        ) B ON A.adn_id = B.id
        LEFT OUTER JOIN
        (
            SELECT *
            FROM sdk_report_api_params
            WHERE mark_deleted = 0
        ) C ON A.report_api_id = C.id
    </select>

    <insert id = "createOneAdspotSdkChannel" useGeneratedKeys="true" keyProperty="sdkChannel.id">
        INSERT INTO adspot_sdk_channel
            (adspot_id, adn_id, report_api_id, name, time_out, supplier_params,
                bid_price, is_head_bidding, bid_ratio,
                daily_req_limit, daily_imp_limit,
                device_daily_req_limit, device_daily_imp_limit, device_request_interval,
                location_list, make_list, osv_list, app_versions,
                cpm_update_time, is_auto_create,
                supplier_adspot_config
            )
        VALUES
        (
            #{adspotId}, #{sdkChannel.adnId}, #{sdkChannel.reportApiParam.id},
            #{sdkChannel.channelAlias}, #{sdkChannel.timeout}, #{sdkChannel.params, typeHandler = com.easyads.component.mybatis.JsonTypeHandler},
            #{sdkChannel.bidPrice}, #{sdkChannel.isHeadBidding}, #{sdkChannel.bidRatio},
            #{sdkChannel.requestLimit.dailyReqLimit}, #{sdkChannel.requestLimit.dailyImpLimit},
            #{sdkChannel.requestLimit.deviceDailyReqLimit}, #{sdkChannel.requestLimit.deviceDailyImpLimit}, #{sdkChannel.requestLimit.deviceRequestInterval},
            #{sdkChannel.directionOrigin.locationList}, #{sdkChannel.directionOrigin.makeList},
            #{sdkChannel.directionOrigin.osvList}, #{sdkChannel.directionOrigin.appVersion},
            #{sdkChannel.cpmUpdateTime}, #{sdkChannel.isAutoCreate},
            #{sdkChannel.supplierAdspotConfig}
        )
    </insert>

    <update id = "updateOneAdspotSdkChannel">
        UPDATE adspot_sdk_channel
        SET
            name = #{sdkChannel.channelAlias},
            bid_price = #{sdkChannel.bidPrice},
            time_out = #{sdkChannel.timeout},
            report_api_id = #{sdkChannel.reportApiParam.id},
            supplier_params = #{sdkChannel.params, typeHandler = com.easyads.component.mybatis.JsonTypeHandler},
            is_head_bidding = #{sdkChannel.isHeadBidding},
            bid_ratio = #{sdkChannel.bidRatio},
            daily_req_limit = #{sdkChannel.requestLimit.dailyReqLimit},
            daily_imp_limit = #{sdkChannel.requestLimit.dailyImpLimit},
            device_daily_req_limit = #{sdkChannel.requestLimit.deviceDailyReqLimit},
            device_daily_imp_limit = #{sdkChannel.requestLimit.deviceDailyImpLimit},
            device_request_interval = #{sdkChannel.requestLimit.deviceRequestInterval},
            location_list = #{sdkChannel.directionOrigin.locationList},
            make_list = #{sdkChannel.directionOrigin.makeList},
            osv_list = #{sdkChannel.directionOrigin.osvList},
            app_versions = #{sdkChannel.directionOrigin.appVersion},
            is_auto_create = #{sdkChannel.isAutoCreate},
            cpm_update_time = #{sdkChannel.cpmUpdateTime},
            supplier_adspot_config = #{sdkChannel.supplierAdspotConfig}
        WHERE
            id = #{sdkChannelId} AND adspot_id = #{adspotId}
    </update>

    <update id = "updateOneAdspotSdkChannelSupplierAdspotConfig">
        UPDATE adspot_sdk_channel
        SET
        supplier_adspot_config = #{sdkChannel.supplierAdspotConfig}
        WHERE
        id = #{sdkChannelId} AND adspot_id = #{adspotId}
    </update>

    <update id = "deleteOneAdspotSdkChannel">
        UPDATE adspot_sdk_channel
        SET mark_delete = 1
        WHERE id = #{sdkChannelId} AND adspot_id = #{adspotId}
    </update>

    <resultMap id = "sdkChannelMetaMap" type="com.easyads.management.distribution.sdk.model.SdkChannelMeta">
        <result column = "supplier_params" property = "sdkChannelParams" typeHandler = "com.easyads.component.mybatis.JsonTypeHandler" />
    </resultMap>

    <select id = "getAdspotSdkChannelMeta" resultMap = "sdkChannelMetaMap">
        SELECT supplier_params
        FROM adspot_sdk_channel
        WHERE
            mark_delete = 0
            AND adspot_id = #{adspotId} and adn_id = #{sdkAdnId}
        GROUP BY 1
        LIMIT 1
    </select>


</mapper>