<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.easyads.component.mapper.SdkTrafficMapper">

    <resultMap id = "sdkTrafficMap" type = "com.easyads.management.distribution.traffic.model.SdkTraffic">
        <id property = "id" column = "sdk_group_percentage_id" />
        <result property = "expId" column = "percentage_exp_id" />
        <result property = "expName" column = "percentage_exp_name" />

        <association property = "trafficPercentage" javaType = "com.easyads.management.distribution.strategy.model.percentage.SdkPercentage">
            <id property = "percentageId" column = "sdk_group_percentage_id"/>
            <result property = "tag" column = "group_tag" />
            <result property = "percentage" column = "group_percentage" />
            <result property = "status" column = "group_percentage_status" />
        </association>

        <collection property = "trafficGroupList" ofType = "com.easyads.management.distribution.traffic.model.SdkTrafficGroup">
            <id property = "groupTargetId" column = "sdk_group_targeting_id" />
            <result property = "expId" column = "target_percentage_exp_id" />
            <result property = "expName" column = "target_percentage_exp_name" />

            <association property = "groupStrategy" javaType = "com.easyads.management.distribution.strategy.model.group.SdkGroupStrategy">
                <result property = "groupTargetId" column = "sdk_group_targeting_id" />
                <result property = "name" column = "name" />
                <result property = "priority" column = "priority" />

                <association property = "sdkGroupDirectionOrigin" javaType = "com.easyads.management.distribution.strategy.model.group.SdkGroupDirectionOrigin">
                    <result property = "appVersion" column = "app_version" />
                    <result property = "sdkVersion" column = "sdk_version" />
                    <result property = "locationList" column = "location_list" />
                    <result property = "makeList" column = "make_list" />
                    <result property = "osvList" column = "osv_list" />
                </association>
            </association>

            <collection property = "targetPercentageStrategyList" ofType = "com.easyads.management.distribution.strategy.model.target_percentage.SdkTargetPercentageStrategy">
                <id property = "trafficId" column = "sdk_traffic_id"/>

                <result property = "supplier_ids" column = "supplier_ids" />
                <association property = "targetPercentage" javaType = "com.easyads.management.distribution.strategy.model.target_percentage.SdkTargetPercentage">
                    <result property = "targetPercentageId" column = "sdk_targeting_percentage_id" />
                    <result property = "tag" column = "target_group_tag" />
                    <result property = "percentage" column = "target_group_percentage" />
                    <result property = "status" column = "target_group_percentage_status" />
                </association>
            </collection>
        </collection>
    </resultMap>

    <!-- 主页面流量分发全局详细信息 -->
    <select id = "getOneAdspotSdkTrafficDetail" resultMap = "sdkTrafficMap">
        SELECT
            B.id AS sdk_group_percentage_id,
            B.tag AS group_tag,
            B.exp_id AS percentage_exp_id,
            B.exp_name AS percentage_exp_name,
            B.percentage AS group_percentage,
            B.status AS group_percentage_status,
            C.id AS sdk_group_targeting_id,
            C.name,
            C.priority,
            C.app_version,
            C.sdk_version,
            C.location_list,
            C.make_list,
            C.osv_list,
            A.id AS sdk_traffic_id,
            D.exp_id AS target_percentage_exp_id,
            D.exp_name AS target_percentage_exp_name,
            D.id AS sdk_targeting_percentage_id,
            D.tag AS target_group_tag,
            D.percentage AS target_group_percentage,
            D.status AS target_group_percentage_status,
            A.supplier_ids
        FROM sdk_group A
        JOIN
        (
            SELECT X.*, Y.exp_name
            FROM sdk_group_percentage X
            LEFT OUTER JOIN
            (
                SELECT id, experiment_name AS exp_name
                FROM sdk_experiment
                WHERE experiment_type = 1 AND status = 1
            ) Y ON X.exp_id = Y.id
        ) B ON A.sdk_group_percentage_id = B.id
        JOIN sdk_group_targeting C ON A.sdk_group_targeting_id = C.id
        JOIN
        (
            SELECT X.*, Y.exp_name
            FROM sdk_targeting_percentage X
            LEFT OUTER JOIN
            (
                SELECT id, experiment_name AS exp_name
                FROM sdk_experiment
                WHERE experiment_type = 2 AND status = 1
            ) Y ON X.exp_id = Y.id
        ) D ON A.sdk_group_targeting_percentage_id = D.id
        WHERE A.adspot_id = #{adspotId}
            <if test = "percentageId != null">
                AND A.sdk_group_percentage_id = #{percentageId}
            </if>
        ORDER BY B.id, C.priority ASC
    </select>

    <!-- 获取指定某个策略下的流量分发详细信息 -->
    <select id = "getOneAdspotSdkTargetTrafficDetail" resultMap = "sdkTrafficMap">
        SELECT
            B.id AS sdk_group_percentage_id,
            B.tag AS group_tag,
            B.percentage AS group_percentage,
            B.status AS group_percentage_status,
            C.id AS sdk_group_targeting_id,
            C.name,
            C.priority,
            C.app_version,
            C.sdk_version,
            C.location_list,
            C.make_list,
            C.osv_list,
            D.id AS target_id,
            D.model_id,
            D.model_type,
            D.operator,
            D.dimension_id,
            D.value_source,
            D.content,
            D.dimension_value,
            D.dimension_value_details,
            A.id AS sdk_traffic_id,
            E.id AS sdk_targeting_percentage_id,
            E.tag AS target_group_tag,
            E.percentage AS target_group_percentage,
            E.status AS target_group_percentage_status,
            A.supplier_ids
        FROM sdk_group A
                 JOIN sdk_group_percentage B ON A.sdk_group_percentage_id = B.id
                 JOIN sdk_group_targeting C ON A.sdk_group_targeting_id = C.id
                 JOIN sdk_targeting_percentage E ON A.sdk_group_targeting_percentage_id = E.id
                 LEFT OUTER JOIN
             (
                 SELECT *
                 FROM targeting_item
                 WHERE model_type = 3
             ) D ON C.id = D.model_id
        WHERE
            A.adspot_id = #{adspotId}
          AND A.sdk_group_percentage_id = #{percentageId}
          AND A.sdk_group_targeting_id = #{targetId}
          AND A.sdk_group_targeting_percentage_id = #{targetPercentageId}
    </select>

    <!-- 流量分发设置 -->
    <select id = "getOneAdspotOneSdkTrafficSimple" resultType = "com.easyads.management.distribution.traffic.model.SdkTrafficGroupSimple">
        SELECT id, supplier_ids
        FROM sdk_group
        WHERE adspot_id = #{adspotId} AND id = #{sdkTrafficId}
    </select>

    <update id = "updateTrafficGroup">
        UPDATE sdk_group
        SET supplier_ids = #{supplierIds}
        WHERE id = #{sdkTrafficId}
    </update>

    <update id = "updateOneAdspotAllTraffic">
        <foreach collection = "sdkTrafficList" item = "item" separator = ";">
            UPDATE sdk_group SET supplier_ids = #{item.supplier_ids}
            WHERE id = #{item.id}
        </foreach>
    </update>

    <select id = "getOneAdspotSdkTrafficSimple" resultType = "com.easyads.management.distribution.traffic.model.SdkTrafficGroupSimple">
        SELECT id, supplier_ids
        FROM sdk_group
        WHERE adspot_id = #{adspotId} AND supplier_ids rlike #{sdkChannelId}
    </select>

    <!-- 分组策略更新导致分发设置更新 -->
    <insert id = "createOnePercentageGroupStrategyTraffic" useGeneratedKeys = "true" keyProperty = "id"
            parameterType = "com.easyads.management.distribution.traffic.model.SdkTrafficSingle">
        INSERT INTO sdk_group
            (adspot_id, sdk_group_percentage_id, sdk_group_targeting_id, sdk_group_targeting_percentage_id)
        VALUES (#{adspotId}, #{percentageId}, #{groupTargetId}, #{targetPercentageId})
    </insert>

    <insert id = "createGroupStrategyTraffic">
        INSERT INTO sdk_group
            (adspot_id, sdk_group_percentage_id, sdk_group_targeting_id, sdk_group_targeting_percentage_id)
        VALUES
            <foreach collection = "sdkGroupStrategyList" item = "item" index = "index" separator = ",">
                (#{adspotId}, #{percentageId}, #{item.groupTargetId}, #{sdkTargetPercentageList[${index}].targetPercentageId})
            </foreach>
    </insert>

    <insert id = "createGroupStrategyTrafficWithSupplier">
        INSERT INTO sdk_group
            (adspot_id, sdk_group_percentage_id, sdk_group_targeting_id,
                sdk_group_targeting_percentage_id, supplier_ids)
        VALUES
            <foreach collection = "sdkGroupStrategyList" item = "item" index = "index" separator = ",">
                (#{adspotId}, #{percentageId}, #{item.groupTargetId},
                    #{sdkTargetPercentageList[${index}].targetPercentageId}, #{supplierTraffic[${index}]})
            </foreach>
    </insert>

    <delete id = "deleteGroupStrategyTraffic">
        DELETE FROM sdk_group
        WHERE
            sdk_group_targeting_id IN
            <foreach collection = "groupTargetIdList" item = "item" index = "index" open = "(" separator = "," close = ")">
                #{item}
            </foreach>
    </delete>

    <!-- SDK渠道信息 -->
    <select id = "getOneSdkChannelTrafficList" resultType = "com.easyads.management.distribution.sdk.model.SdkChannelTrafficSummary"
            parameterType = "com.easyads.management.adn.model.filter.SdkAdnTrafficFilterParams">
        SELECT
            A.id,
            D.platform_type,
            D.id AS media_id,
            D.media_name AS media_name,
            C.id AS adspot_id,
            C.adspot_name,
            C.adspot_type,
            A.group_tag,
            A.sdk_group_id,
            A.sdk_group_percentage_id,
            A.sdk_group_targeting_id,
            A.sdk_group_targeting_percentage_id,
            B.id AS supplier_id,
            IF(COALESCE(A.name, "") = "", B.adn_name, A.name) AS sdk_channel_name,
            A.name AS sdk_channel_alias,
            A.executeStatus AS status,
            A.is_auto_create,
            A.supplier_params,
            A.is_head_bidding,
            A.bid_ratio,
            A.location_list,
            A.make_list,
            A.osv_list,
            A.app_versions,
            A.daily_req_limit,
            A.daily_imp_limit,
            A.device_daily_req_limit,
            A.device_daily_imp_limit,
            A.device_request_interval
        FROM
        (
            SELECT
                M.*,
                N.id AS sdk_group_id,
                N.sdk_group_percentage_id,
                N.sdk_group_targeting_id,
                N.sdk_group_targeting_percentage_id,
                CONCAT(
                    IF(P.percentage != 100, CONCAT(P.tag, '-'), ''),
                    Q.name,
                    IF(R.percentage != 100, CONCAT('-', R.tag), '')
                ) AS group_tag,
                IF(M.status = 0, 0, IF(INSTR(N.supplier_ids, M.id) > 0, 1, 0)) AS executeStatus
            FROM
            (
                SELECT *
                FROM adspot_sdk_channel
                WHERE
                    adn_id = #{channelId}
                    AND mark_delete = 0
            ) M
            JOIN sdk_group N ON M.adspot_id = N.adspot_id
            JOIN sdk_group_percentage P ON N.sdk_group_percentage_id = P.id
            JOIN sdk_group_targeting Q ON N.sdk_group_targeting_id = Q.id
            JOIN sdk_targeting_percentage R ON N.sdk_group_targeting_percentage_id = R.id
        ) A
        INNER JOIN
        (
            SELECT *
            FROM sdk_adn
        ) B ON A.adn_id = B.id
        JOIN adspot C ON A.adspot_id = C.id
        JOIN media D ON C.media_id = D.id
        WHERE
            C.status = 1 AND C.mark_delete = 0
            <if test = "status != null">
                AND A.executeStatus = #{status}
            </if>
            <if test = "mediaIds != null and mediaIds.size() != 0">
                AND D.id in
                <foreach collection = "mediaIds" item = "item" index = "index" open = "(" separator = "," close = ")">
                    #{item}
                </foreach>
            </if>
            <if test = "searchText != null">
                AND (C.id = #{searchText} OR C.adspot_name rlike #{searchText}
                    OR A.name rlike #{searchText} OR B.adn_name rlike #{searchText}
                    OR A.supplier_params rlike #{searchText})
            </if>
            <if test="adspotTypes != null and adspotTypes.size() != 0">
                AND C.adspot_type in
                <foreach collection = "adspotTypes" item = "item" separator = "," open = "(" close = ")">
                    #{item}
                </foreach>
            </if>
    </select>

    <select id = "getSdkGroupTrafficById" resultType = "com.easyads.management.distribution.sdk.model.SdkGroupTraffic">
        SELECT id AS sdk_group_id, supplier_ids
        FROM sdk_group
        WHERE id = #{sdkGroupId}
    </select>
 
</mapper>